<!DOCTYPE html>
<html>
<h3>Books Store</h3>
<p>
    Dear <b><%= @user.name %></b>,
</p>
<p>
  <%="New books of the week:"%>
</p>
<table class="center">
  <tr>
    <th>Book's name</th>
    <th>user's name</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.user.name %></td>
    </tr>
  <% end %>
  
</table>
</html>