<h1>Editing Bookcase</h1>

<%= render 'form', bookcase: @bookcase %>

<%= link_to 'Show', user_bookcases_path(@bookcase.user, @bookcase) %> |
<%= link_to 'Back', user_bookcases_path(@bookcase.user, @bookcase) %>
