body {
    padding-top: 56px;
  }

.list-image {
  width: 100px;
  height: 100px;
}
 .avatar-img {
   width: 100px;
   height: 100px;
 }

 .avatar-comment-img {
   width: 20px;
   height: 20px; 
 }

 .cover-img {
  width: 400px;
  height: 400px;
 }

 .img-fluid {
   width: 500px;
   height: 500px;
 }
 