

  <div class="container">
    <h1 class="title-page">RANKING</h1>
    <div class="group-tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="tab" data-toggle="tab" href="#home"  class="active" ><a aria-controls="home">Day</a></li>
        <li role="tab" data-toggle="tab" href="#profile"><a  aria-controls="profile" >Week</a></li>
        <li role="tab" data-toggle="tab" href="#messages" ><a aria-controls="messages">Month</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home"><%= render 'rankingday' %></div>
        <div role="tabpanel" class="tab-pane" id="profile"><%= render 'rankingweek'%></div>
        <div role="tabpanel" class="tab-pane" id="messages"><%= render 'rankingmonth'%></div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function() {

    $('li[data-toggle="tab"]').on('click', function(event) {
      $('li[data-toggle="tab"]').removeClass('active');
      $(event.target).parent().addClass('active');

      var tabContentId = $(event.target).parent().attr('href');
      $('.tab-content .tab-pane').removeClass('active');
      $('.tab-content ' + tabContentId).addClass('active');
    })

  })
</script>