<div class="review-rating" data-score="<%= review.rating %>"></div>
<p><%= review.comment%></p>
<%= link_to 'Delete',  product_review_path(@product, review), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to 'Edit',  edit_product_review_path(@product, review) %> 